<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
<link rel="stylesheet" href="/css/addsong.css"/>
</head>
<body>
	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/myplaylists">My Playlists</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/addsong">Add Songs</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/playlists/makeplaylist">New Playlist</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/playlists/addtoplaylist">Add Songs to Playlist</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	
	<h1 style="padding-bottom: 5rem; padding-top: 3rem; text-align: center; color: white;">Choose a Song and a Playlist</h1>
	
	<div th:if="${error != null}" style="margin: auto; width: 30%; border: 3px solid red; padding: 5px; text-align:center;">
		<span style="text-align:center; font-size:2.2rem; color:red;" th:if="${error != null}" th:text="${error}">Error</span>
	</div>
	
<!-- ======= Footer ======= -->
 <footer id="footer">
   <div class="footer-top">
     <div class="container">

     </div>
   </div>

   <div class="container">
     <div class="copyright">
       &copy; Copyright <strong>Thomas Wrobel</strong>. All Rights Reserved
     </div>
   </div>
 </footer><!-- End Footer -->
<script>
	window.setTimeout(function(){
	window.location.href='/playlists/addtoplaylist';
	}, 2000);
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</html>