<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
</head>
<body>
<!--Div for Background-->
<div class="bg text-center">
    <!--Div for Centered Text & Input-->
    <div class="centered">
        <p class="firstLine"> E &nbsp; M &nbsp; A &nbsp; I &nbsp; L &nbsp; . &nbsp; M &nbsp; E </p>
        <p class="secondLine">The Simplest Email Client Ever</p>
        <p> <input class="InputStyle" placeholder="Email me when it's ready &#xf0e0; " style="font-family:Arial, FontAwesome" type="text"> </p>
    </div>
    <!--Div for bottom Icons-->
    <div class="social-btn"> <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
</div>

<!--
	<form th:action="@{/playlists/makeplaylist}" method="POST">
		<input id="name" class="input100" type="text" name="name" placeholder="Playlist Name">
		<span class="focus-input100"></span>
		
		<button type="submit">
			Add
		</button>
	</form>
	 -->
	 
	 <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
	 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</html>