<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<title>My Playlists</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
	<link href="/css/playlist.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/addsong.css"/>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="line-height:1;">
	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/myplaylists">My Playlists</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/addsong">Add Songs</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/playlists/makeplaylist">New Playlist</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/playlists/addtoplaylist">Add Songs to Playlist</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	
	<div class="table-title">
		<h3 style="padding-top: 2rem; padding-bottom: 2rem;">My Playlists</h3>
	</div>
	<div class="scrolltable">
	<table class="table-fill">
		<tbody class="table-hover">
			<tr th:each="playlist : ${playlists}">
				<td style="width:100%" class="text-left">
				<span th:text="${playlist.name}"></span>
				<form style="width:0;height:100%;padding:2px;margin-bottom:0;margin-top:3px;margin-left:0;overflow-y:visible;background-color:#0F1531;" th:action="@{/updateplaylistname}" method="post">
		          		<input type="hidden" th:value="${playlist.id}" name="playlistId"/>
		          		<input style="width:200px;padding-left:0;padding-right:0;margin-bottom:5px;height:30px;" placeholder="Name" type="text" name="playlistName" maxlength="40" required/>
		          		<button style="margin:auto; text-align:center;padding:1px;" class="square_btn" type="submit">Update</button>
		          	</form>
          		</td>
					<td style="white-space:nowrap;" th:each="song : ${playlist.songs}">
						<span th:text="@{${'Artist: ' + song.artist}}"></span>
						<br><br>
						<span th:text="@{${'Title: ' + song.title}}"></span>
						<br>
			          	<form style="width:0;height:100%;padding:2px;margin-bottom:0;margin-top:3px;margin-left:0;overflow-y:visible;background-color:#0F1531;" th:action="@{/gotoscore}" method="post">
			          		<input type="hidden" th:value="${song.id}" name="songId"/>
			          		<button style="margin:0; text-align:center;padding:1px;" class="square_btn" type="submit">Sheet Music</button>
			          	</form>
			          	<form style="width:0;height:100%;padding:2px;margin-bottom:0;margin-top:3px;margin-left:0;overflow-y:visible;background-color:#0F1531;" th:action="@{/deletesong}" method="post">
			          		<input type="hidden" th:value="${song.id}" name="songId"/>
			          		<input type="hidden" th:value="${playlist.id}" name="playlistId"/>
			          		<button style="margin:0; text-align:center;padding:1px;" class="square_btn" type="submit">Remove</button>
		          		</form>
					</td>
			</tr>
		</tbody>
	</table>
	</div>

<script>
	document.addEventListener("DOMContentLoaded", function(){
		  window.addEventListener('scroll', function() {
		      if (window.scrollY > 0) {
		        document.getElementById('navbar').classList.add('fixed-top');
		        // add padding top to show content behind navbar
		        navbar_height = document.querySelector('.navbar').offsetHeight;
		        document.body.style.paddingTop = navbar_height + 'px';
		      } else {
		        document.getElementById('navbar_top').classList.remove('fixed-top');
		         // remove padding top from body
		        document.body.style.paddingTop = '0';
		      } 
		  });
		}); 
</script>	
</body>
</html>